<html>
  <head>
    <style>
      body { font-family: arial, helvetica, sans-serif; font-size: 14px; color:
      #000000; padding: 8%; display: flex; flex-direction: column; gap: 40px; }
      a { color: #000000; } .image-container { align-self: center; }
      .section-header { font-size: 24px; display: flex; align-items: center;
      gap: 10px; } .notifications { align-self: center; }
    </style>
    <style>
      @media screen and (max-width: 480px) { body { font-size: 12px; }
      .section-header { font-size: 18px; } }
    </style>
  </head>
  <body>
    <div class='image-container'>
      <img
        width='144'
        alt=''
        src='http://cdn.mcauto-images-production.sendgrid.net/cb5a685b085b7e7c/f48e2455-6dbb-4102-bde9-2ee07d3008c4/859x860.png'
      />
    </div>
    <div class='greeting'>
      <p>Hey {{displayName}}</p>
      <p>You've missed notifications. No worries.</p>
      <p>I'm here to give you an overview :)</p>
    </div>
    {{#if hasComments}}
      <div class='section-container'>
        <div class='section-header'>
          <img
            width='30'
            alt=''
            src='http://cdn.mcauto-images-production.sendgrid.net/cb5a685b085b7e7c/1e6f3be3-e6fd-46c5-b30f-bcde950b0dbc/165x131.png'
          />
          You've got comments
        </div>
        <div class='section-items'>
          {{#each notifications}}
            {{#if this.isComment}}
              <p>
                New comment on your
                <a
                  href='https://community.preciousplastic.com{{this.relevantUrl}}'
                >{{this.resourceLabel}}</a>
                by
                <a
                  href='https://community.preciousplastic.com/u/{{this.triggeredBy.displayName}}'
                >{{this.triggeredBy.displayName}}</a>
              </p>
            {{/if}}
            {{#if isMention}}
              <p>
                <a
                  href='https://community.preciousplastic.com/u/{{this.triggeredBy.displayName}}'
                >{{this.triggeredBy.displayName}}</a>
                mentioned you in this
                <a
                  href='https://community.preciousplastic.com{{this.relevantUrl}}'
                >{{this.resourceLabel}}</a>
              </p>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if hasUsefuls}}
      <div class='section-container'>
        <div class='section-header'>
          <img
            width='30'
            alt=''
            src='http://cdn.mcauto-images-production.sendgrid.net/cb5a685b085b7e7c/57314667-9a0f-4904-a39c-6effa6b2afbc/64x63.png'
          />
          People found your work useful. Well done!
        </div>
        <div class='section-items'>
          {{#each notifications}}
            {{#if isUseful}}
              <p>
                <a
                  href='https://community.preciousplastic.com/u/{{this.triggeredBy.displayName}}'
                >{{this.triggeredBy.displayName}}</a>
                found your
                <a
                  href='https://community.preciousplastic.com{{this.relevantUrl}}'
                >{{this.resourceLabel}}</a>
                useful
              </p>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div class='notifications'>
      Manage your notifications
      <a href='https://community.preciousplastic.com/settings'> here</a>
    </div>
  </body>
</html>